@font-face {
    font-family: 'TimesClassicDisplay';
    src: url('./TimesClassicDisplayRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TimesClassicDisplay';
    src: url('./TimesClassicDisplayBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  